<ion-view view-title="登录">

  <ion-content>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">用户名：</span>
        <input type="text" ng-model="user.acct">
      </label>
      <label class="item item-input">
        <span class="input-label">密  码：</span>
        <input type="password" ng-model="user.pwd">
      </label>
    </div>

    <div class="padding">
      <button class="button button-block button-assertive" ng-click="signIn(user)">
        登录
      </button>
      <p class="text-center">
        Presentica用户名和密码与教学管理信息系统同步，请用教学管理信息系统的用户名和密码登录。
      </p>
      <p class="text-center">
        acctDemoTch0: 1000; pwdDemoTch0: 1000;
      </p>
      <p class="text-center">
        acctDemoTch1: 9999; pwdDemoTch1: 9999;
      </p>
      <p class="text-center">
        acctDemoStu0: 16000000000; pwdDemoStu0: 16000000000;
      </p>
      <p class="text-center">
        acctDemoStu1: 16011111111; pwdDemoStu1: 16011111111;
      </p>
      <p class="text-center">
        acctDemoStu2: 16022222222; pwdDemoStu2: 16022222222;
      </p>
      <p class="text-center">
        acctDemoStu3: 16033333333; pwdDemoStu3: 16033333333;
      </p>
    </div>

  </ion-content>

</ion-view>